{% extends 'base.html' %}
  {% block content %}
    <form action="/signup" method="POST">{% csrf_token %}
      <div class="container">
        <br><h2 class="text-center">School Details</h2><br>
        <div class="mb-3">
          <label for="nameinput" class="form-label">Name</label>
          <input class="form-control" required id="nameinput" value="{{ name }}" type="text" name="name" placeholder="Jose cortila" aria-label="default input example">
          <div class="form-text">{{ msg1 }}</div>
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" required class="form-control" value="{{ email }}" placeholder="name@mail.com" id="exampleInputEmail1" name="emailid" aria-describedby="emailHelp">

          <label for="city" class="form-label">City</label>
          <input class="form-control" required id="city" value="{{ city }}" type="text" name="city" placeholder="London" aria-label="default input example">
          <div class="form-text">{{ msg2 }}</div>
          <label for="pincode" class="form-label">Pin Code</label>
          <input class="form-control" required id="pincode" value="{{ pincode }}" type="text" name="pincode" placeholder="415222" aria-label="default input example">
          <div class="form-text">{{ msg3 }}</div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label">Password</label>
              <input type="password" required id="inputPassword6" name="password" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
        <br>
        <div >
            <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
      </div>
      </form>
    {% endblock content %}
