{% extends 'base.html' %}
  {% block content %}
    <form action="/student" method="POST" id="indexform">{% csrf_token %}
      <div class="container">
        <br><h2 class="text-center">Student Details</h2><br>
        <div class="mb-3">
          <label for="nameinput" class="form-label">Name</label>
          <input class="form-control" required id="nameinput" type="text" name="name1" value="{{ name }}" placeholder="Jose cortila" aria-label="default input example">
          <div class="form-text">{{ msg4 }}</div>
          <br>
          <label for="username" class="form-label">Username</label>
          <input class="form-control" required id="username" type="text" name="username" value="{{ username }}" placeholder="omkar213" aria-label="default input example">
          <div class="form-text">{{ msg5 }}</div>
        </div>

        <div class="row g-3 align-items-center mb-3">
          <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Password</label>
            <input type="password" required id="inputPassword6" name="password" class="form-control" aria-describedby="passwordHelpInline">
            <div class="form-text">{{ msg6 }}</div>
          </div>
        </div>

        <label for="drop">Select your School name</label><br>
        <select required name="dropdown1" id="drop" class="form-control">
          <option value="">--select school--</option>
          {% for i in student %}
          <option value="{{i.id}}">{{i.name}}</option>
          {% endfor %}
        </select>
        <div class="form-text">{{ msg6 }}</div>
        <br>
        <div >
          <button type="submit" name="action" value="save" class="btn btn-primary">Save</button>
          <button type="submit" name="action" value="logout" class="btn btn-primary">Logout</button>
        </div>
      </div>
    </form>
    {% endblock content %}
